/* Styles for select element */

h2 {

    font-size: 20px;

    margin-bottom: 10px;

}
 
.container {

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

}
 
.dropdown-container {

    flex-basis: calc(33% - 20px);
    margin-bottom: 20px;
    max-width: 300px; /* Limit maximum width of dropdown container */

}
 
.pokemonimage {

  text-align: center;

}

h3 {

    margin-bottom: 5px;
    color:rgb(255, 244, 28);

}
 

h1
{

  text-align: center;
  color:rgb(12, 69, 123);

}



.card {

    padding: 20px;

    border: 5px solid #f2ff02;

    border-radius: 5px;

    text-align: center;


}
 
.card img {

    max-width: 100%;

    height: auto;

    margin-bottom: 10px;

}


/* Styles for select element */
h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

#pokemonSelect {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
}

#pokemonDetails {
  margin-top: 20px;
}

#pokemonDetails h3 {
  font-size: 18px;
}

#pokemonDetails p {
  margin-bottom: 5px;
}

#pokemonDetails strong {
  font-weight: bold;
}

.remove-assignment-content {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.responsive {
  width: 30%;
  height: auto;
}

.responsive1 {
  width: 25%;
  height: auto;
}



body, html {
  height: 100%;
  margin: 0;
  text-align: center;
}


body {background-color: rgb(235, 95, 95);}


@media (max-width: 768px) {
    .card {
        flex: 1 0 calc(100% - 20px);
    }
}

@media (min-width: 768px) {
    .card {
        flex: 1 0 calc(50% - 20px);
    }
}

@media (min-width: 1200px) {
    .card {
        flex: 1 0 calc(33% - 20px);
    }
}


@media (max-width: 768px) {
    .card {
        flex: 1 0 calc(100% - 20px);
    }
}

@media (min-width: 768px) {
    .card {
        flex: 1 0 calc(50% - 20px);
    }
}

@media (min-width: 1200px) {
    .card {
        flex: 1 0 calc(33% - 20px);
    }
}


